body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    height: 730px;
    text-align: right;
    /* padding: 300px; */
    /* background-size: cover; */
}
.banner{
    padding: 170px 300px 100px 70px;

}
.banner-title{
    color:  #151414;
font-size: 55px;
font-weight: 900;

}
.banner-description{
    color: #444343;
font-size: 16px;
font-weight: 400;
}
.button-one{
    border-radius: 5px;
background: #F15B22;
border: none;
padding: 17px 30px 17px 30px;
font-size: 20px;
color: white;

}
/* ///////////////////////////////////////////////// */


main{
    max-width: 1140px;
    margin: 0 auto;

}
main section{
    margin-top: 50px;
}
 
.failure-container{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 50px;
    background: #FFF;

}
.failure-title{
    color:  #151414;
font-size: 40px;
font-weight: 900;
margin-left: 30px;
}
.failure-description{
color:  #444343;
font-size: 16px;
font-weight: 400;
margin-left: 30px;

}
.failure-list{
color:  #444343;
font-size: 16px;
font-weight: 400;
}
.failurs{
    padding-top: 80px;
}
.failure-list li{
    list-style: none

}
.failure-list li i{
    color: #16D887;
    margin: 10px;
}
.failure-container img{
    width: 500px;
}
/* //////////////////////////// */
.my-plan-section{
    padding: 20px 30px;

}
.my-plan-title{
    text-align: center;
    color: #151414;
font-size: 40px;
font-weight: 900;
margin-bottom: 100px;

}
.plans-container{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    text-align: center;
}
.plans-container img{
    width: 90px;
}
.plan-title{
    color: #151414;
font-size: 25px;
font-weight: 900;
margin-bottom: 0px;
}
.positive-section{
background-image: url('../images/gradient1.png'), url('../images/watch.png');
padding: 45px ;
}

.section-title{
    color: #FFF;
font-size: 35px;
font-weight: 900;

}
.button{
    border-radius: 5px;
background: #FFF;
border: none;
padding: 17px 30px 17px 30px;
font-size: 20px;
color: #F15B22;

}
/* ///////////////////////////////////// */
footer{
    background-color: #151414;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    padding:100px 80px ;
}
.footer-column{
    color: white;
}
.future{
font-size: 35px;
font-weight: 900;
}
.future-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.social-links{
    margin-top: 30px;


}
.social-links img{
    margin-right: 10px;
}


.subscribe{
  color: #FFF;
font-size: 25px;
font-weight: 800;
}
input{
    display: block;
    background: var(--dark-01, #151414);
    border: 1px solid #919090;
    border-radius: 5px;
    padding:20px ;
    width: 300px;
    margin-bottom: 20px;

}
input:hover{
    border: 2px solid rgba(163, 128, 163, 0.952);
}
.footer-column-two{
    margin-right: 80px;
}
